<html>
	<head>
		<link rel="stylesheet" href='/static/style.css' />
		<script type="text/javascript" src="/static/main.js"></script>

	</head>
	<body>
        <div class='page-container'>       
            <label class='control-label'>Blue Lights</label>
            <div class='control-container'>
                <button onClick='setOn("blue_lights")' >On</button>
                <button onClick='setOff("blue_lights")' >Off</button>
            </div>
            
            <label class='control-label'>Lamp Light</label>
            <div class='control-container'>
                <button onClick='setOn("lamp_light")' >On</button>
                <button onClick='setOff("lamp_light")' >Off</button>
            </div>

            <button class='rave-button' onClick='toggleRave()'>
                <span class='R'>R</span>
                <span class='A'>A</span>
                <span class='V'>V</span>
                <span class='E'>E</span>
                <span class='exclamation-1'>!</span>
                <span class='exclamation-2'>!</span>
                <span class='exclamation-3'>!</span>
            </button>
        </div> 
	</body>
</html>
