<html>
	<head>
		<link rel="stylesheet" href='/static/style.css' />
		<script type="text/javascript" src="/static/main.js"></script>

	</head>
	<body>
		<h1>Home Control</h1>
		<h3>Control Pins Below:</h3>
		<div class='control-container'>
			<p class='control-label'>Pin 2</p>		
			<button onClick='setOn(2)' >Turn On</button>
			<button onClick='setOff(2)' >Turn Off</button>
			<button onClick='toggle(2)' >Toggle</button>
			<button onClick='rave(2)' >Rave!!!</button>

		</div>
                <div class='control-container'>
                        <p class='control-label'>Pin 3</p>
                        <button onClick='setOn(3)' >Turn On</button>
                        <button onClick='setOff(3)' >Turn Off</button>
                        <button onClick='toggle(3)' >Toggle</button>
                        <button onClick='rave(3)' >Rave!!!</button>

                </div>

	</body>
</html>
